<div class="container mx-auto px-8 pt-4" *ngIf="post?.title">
  <div class="flex items-center mb-4">
    <a [routerLink]="['/topic', topicId]" class="flex items-center m-l-0 mr-4">
      <fa-icon [icon]="faChevronLeft" class="m-t-2"></fa-icon>
    </a>
    <h1 class="text-2xl font-bold">{{ post?.title }}</h1>
  </div>
  <p class="mb-4">{{ post?.message }}</p>
  <h2 class="text-lg font-bold mb-2">Comments</h2>
  <div class="mb-4" *ngFor="let comment of comments">
    <div class="bg-white dark:bg-gray-800/25 p-4 shadow-md rounded-lg">
      <p class="mb-4">{{ comment.message }}</p>
    </div>
  </div>
  <div class="bg-white dark:bg-gray-800/25 p-4 shadow-md rounded-lg">
    <form (submit)="createComment()">
      <textarea 
        name="comment" 
        [(ngModel)]="comment" 
        class="w-full p-2 border-[1px] border-slate-200 dark:border-slate-800 rounded mb-4 bg-white dark:bg-gray-800/25" 
        placeholder="Add a comment...">
      </textarea>
      <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-400">Add comment</button>
    </form>
  </div>
</div>
