<!-- Navigation Bar -->
<nav class="bg-white dark:bg-slate-900 p-4 flex items-center justify-between fixed top-0 w-full z-10 border-b-[1px] border-slate-200 dark:border-slate-800">
  <a routerLink="" class="font-medium text-slate-900 dark:text-slate-200">NostRdd</a>
  <div class="flex items-center font-semibold text-sm dark:text-gray-200">
    <a routerLink="home" class="mr-4 hover:text-gray-400 dark:hover:text-gray-300">Home</a>
    <a routerLink="create-topic" class="mr-4 hover:text-gray-400 dark:hover:text-gray-300">Create Topic</a>
    <a routerLink="profile" class="mr-4 hover:text-gray-400 dark:hover:text-gray-300">Profile</a>
    <button class="focus:outline-none mr-4 w-4 hover:text-gray-400 dark:hover:text-gray-300" (click)="toggleDarkMode()">
      <fa-icon *ngIf="!isDarkMode" [icon]="faMoon"></fa-icon>
      <fa-icon *ngIf="isDarkMode" [icon]="faSun"></fa-icon>
    </button>
  </div>
</nav>

<!-- Post List and Footer Wrapper -->
<div class="container mx-auto flex-1 mt-14 overflow-y-scroll" style="height: calc(100vh - 56px); overflow-x: hidden;">
  <router-outlet></router-outlet>
  <!-- Footer -->
  <footer class="bg-white dark:bg-slate-900 p-4 text-center sticky top-[100vh] border-t-[1px] border-slate-200 dark:border-slate-800">
    &copy; {{currentYear}} Nostrdd
  </footer>
</div>
