<div class="container mx-auto px-8">
    <h1 class="text-2xl font-bold mb-4">Create a New Post</h1>
  
    <form (submit)="onSubmit()">
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="title">
          Title
        </label>
        <input
          class="border border-gray-400 p-2 w-full"
          type="text"
          id="title"
          [(ngModel)]="newPost.title"
          name="title"
          required
        />
      </div>
  
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="message">
          Message
        </label>
        <textarea
          class="border border-gray-400 p-2 w-full"
          id="message"
          [(ngModel)]="newPost.message"
          name="message"
          required
        ></textarea>
      </div>
  
      <div class="flex justify-between">
        <button class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-400" type="submit">
          Submit
        </button>
        <a routerLink="/" class="text-blue-500 hover:underline">Cancel</a>
      </div>
    </form>
  </div>
  