<div class="container mx-auto px-8 mt-4">
  <div class="flex items-center mb-4">
    <a [routerLink]="['/topic', topicId]" class="flex items-center m-l-0 mr-4">
      <fa-icon [icon]="faChevronLeft" class="m-t-2"></fa-icon>
    </a>
    <h1 class="text-2xl font-bold">Create a New Post</h1>
  </div>
  
    <form (submit)="onSubmit()">
      <div class="mb-4">
        <label class="block font-bold mb-2" for="title">
          Title
        </label>
        <input
          class="w-full p-2 border-[1px] border-slate-200 dark:border-slate-800 rounded mb-4 bg-white dark:bg-gray-800/25"
          type="text"
          id="title"
          [(ngModel)]="newPost.title"
          name="title"
          required
        />
      </div>
  
      <div class="mb-4">
        <label class="block font-bold mb-2 " for="message">
          Message
        </label>
        <textarea
          class="w-full p-2 border-[1px] border-slate-200 dark:border-slate-800 rounded mb-4 bg-white dark:bg-gray-800/25"
          id="message"
          [(ngModel)]="newPost.message"
          name="message"
          required
        ></textarea>
      </div>
  
      <div class="flex justify-between">
        <button class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-400" type="submit">
          Submit
        </button>
      </div>
    </form>
  </div>
  